<%- include('../templates/header');-%>

<main class="main">
  <%- include('../templates/menu');-%>

  <div class="page">
    <div class="page-header">
      <div class="main-header">
        <div class="title-text">
          <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
          <h1>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h1>
          <h3>ISSN: 1234-5678</h3>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img id="globo-img" src="./images/globo.png" alt="">
            PT,BR
          </button>
          <div class="form-header">
            <h3 class="welcome-text">Bem vindo!</h3>
            <h4 class="email-text">alguem12@galoascience.com</h4>
            <div class="box-image">
              <img src="./images/face.png" alt="">
              <div class="notification-badge">
                <div class="two">2</div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>

<script></script>

<%- include('../templates/footer');-%>