<header class="header">
  <div class="gradient-header">
    <p class="project-name">
      SLACA 2019
    </p>
  </div>
  <img src="/images/logo.png" alt="logo">
  <ul>
    <li><a id="apresentation" class="nav-link" href="/">Apresentação</a></li>
    <li><a id="committees" class="nav-link"href="/">Comitês</a></li>
    <li><a id="authors" class="nav-link"href="/">Autores</a></li>
    <li><a id="thematic-axes" class="nav-link"href="/">Eixos temáticos</a></li>
    <li><a id="works" class="nav-link active"href="/">Trabalhos</a></li>
    <li><a id="contact" class="nav-link"href="/">Contato</a></li>
  </ul>
</header>
